streamlit
langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.43
langchain-google-genai==1.0.10
langchain-huggingface==0.0.3
langchain-chroma==0.1.4
langchain-text-splitters==0.2.4
pysqlite3-binary
sentence-transformers
pypdf
huggingface_hub
