streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-google-genai
langchain-huggingface
langchain-chroma
pysqlite3-binary
sentence-transformers
pypdf
huggingface_hub
